---
import "@fontsource/geist-sans";
import "@fontsource/geist-sans/500.css";
import "@fontsource/geist-sans/600.css";
import "@fontsource/geist-sans/700.css";
import Toast from "@/components/ui/Toast.astro";
import Footer from "@/components/Footer.astro";

interface Props {
  title: string;
  description: string;
  image?: string;
}

const { title, description, image } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href="https://alternify.vercel.app" />
    <meta name="generator" content={Astro.generator} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@fe_ossandon" />
    <meta name="twitter:creator" content="@fe_ossandon" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    {image && (
      <meta
        name="twitter:image"
        content={new URL(image, Astro.url)}
      />
      <meta property="og:image" content={new URL(image, Astro.url)} />
    )}
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:site_name" content="Alternify" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_US" />
    <title>{title}</title>
  </head>
  <body class="relative w-screen">
    <div
      class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]"
    >
      <div
        class="absolute bottom-0 left-0 right-0 top-0 bg-[radial-gradient(circle_800px_at_100%_200px,#d5c5ff,transparent)]"
      >
      </div>
    </div>
    <main
      class="animate-fade-in-up w-screen h-screen overflow-y-auto flex flex-col items-center mx-auto px-8 py-12 md:py-16 lg:px-10"
    >
      <slot />
      <Footer />
    </main>
    <Toast />
  </body>
</html>
<style is:global>
  html {
    font-family: "Geist Sans", system-ui, sans-serif;
    overflow-x: hidden;
    height: 100%;
  }
</style>
